//colors
$primary-color: #FFC72C;
$secondary-color: #ffffff;
$menu-color: #000000;
$submenu-color: #303030;

//media query
$breakpoint-laptop: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 468px;