@use "../base/variables" as v;
@use "../base/fonts" as f;

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5rem;
  max-width: v.$breakpoint-laptop;
  margin: 0 auto;
  background-color: v.$primary-color;
  font-size: 1.6rem;
  color: #fff;

  &__principal {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 0 1rem;
    width: 100%;
  }
  
  &__logo {
    height: 3.25rem;
    margin-left: -10px;
  }
  
  &__list {
    display: flex;
    gap: 1.4rem;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      position: relative;

      &:last-child {
        margin-right: 0;
      }
      
      &--has-submenu {
        &:hover .submenu {
          display: block; // Corrected to reference the visible submenu class
        }
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-family: f.$font-family;
    font-size: 1.6rem;
    position: relative;
    padding: 0.5rem;
    display: block;
    transition: all 0.3s ease;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -3.3rem;
      transform: translateX(-50%);
      width: 0;
      height: 4px;
      background-color: red;
      transition: width 0.3s ease;
    }

    &:hover {
      color: red;

      &:after {
        width: 100%;
      }
    }
  }

  &__access {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    height: 100%; 
  }

  &__access-items{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 100%;
  
    &--campus {
      border-right: 1px solid #fff;
      padding-right: 3rem;
    }
  }

  &__access-logo {
    height: 2.94rem;
  }

}

// Submenu Styles
.submenu {
  background-color: aqua;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 4rem;
    width: v.$breakpoint-laptop;
    margin: 0 auto;
    background-color: v.$submenu-color;
  }
}

// Class for hidden submenu
.submenu-hidden {
  display: none;
}
