@use "../base/variables" as v;
@use "../base/fonts" as f;

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5rem;
  max-width: v.$breakpoint-laptop;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #fff;

  @media (max-width: v.$breakpoint-mobile) {
    flex-direction: column;
    align-items: flex-start; 
    height: auto;
  }

  &__principal {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 0 1rem;
    width: 100%;

    @media (max-width: v.$breakpoint-mobile) {
      flex-direction: column;
      align-items: flex-start; 
    }
  }

  &__logo {
    height: 3.25rem;
    margin-left: -10px;

    @media (max-width: v.$breakpoint-mobile) {
      margin-left: 0;
    }
  }

  &__list {
    display: flex;
    gap: 1.4rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: v.$breakpoint-mobile) {
      flex-direction: column;
      align-items: flex-start; // Alinea los textos a la izquierda
    }

    &__item {
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &--has-submenu {
        &:hover #submenu {
          display: block; // Show submenu on hover
        }
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-family: f.$font-family;
    font-size: 1.6rem;
    position: relative;
    padding: 0.5rem;
    display: block;
    transition: all 0.3s ease;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -3.3rem;
      transform: translateX(-50%);
      width: 0;
      height: 4px;
      background-color: v.$primary-color;
      transition: width 0.3s ease;
    }

    &:hover {
      color: v.$primary-color;

      &:after {
        width: 100%;
      }
    }
  }

  &__access {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    height: 100%;
  }

  &__access-items {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 100%;

    @media (max-width: v.$breakpoint-mobile) {
      display: none;
    }

    &--campus {
      border-right: 1px solid #fff;
      padding-right: 3rem;
    }
  }

  &__access-logo {
    height: 2.94rem;
  }
}

// Submenu Styles
.submenu-hidden {
  display: none; 
}

.submenu-container {
  background-color: v.$submenu-color;
  height: 12rem;

  &__items {
    margin: 0 auto;
    width: v.$breakpoint-laptop;
    display: flex;
    align-items: center;
    gap: 0; 
    padding: 0;
    
    a {
      color: v.$secondary-color;
      text-decoration: none;
      background-color: rgba(v.$secondary-color, 0.05);
      flex: 1; 
      text-align: left; 
      padding: 1rem 6rem; 
      font-size: 1.6rem;
      transition: background-color 0.3s ease, color 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      &:hover {
        background-color: v.$primary-color; 
        color: v.$menu-color; 
      }
    }
  }
}

#submenu-container {
  display: none;
}

#submenu-dynamic {
  display: none; 
}